.productCard
{
    height: 100%;
    width: 100%;
    background-color: rgb(255, 255, 255);
    padding: 3px;
    border-radius: 5px;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
}

.productCard:hover
{
    background-color: yellow;
    cursor: pointer;
}

@media (max-width: 780px)
{
    .productCard {
        width: 95%;
        height: 220px;
    }

}